#home-container.container
  #middle
    #center_peice
      %h1#title
        %span#name ATISH PATEL
        %hr/
        DEVELOPER
#about-container.container
  = render 'contacts/profile'
#experience-container.container
  = render 'contacts/experience'
#skills-container.container
  = render 'contacts/skills'
#interests-container.container
  = render 'contacts/interests'
#form-container.container
  #form-content.content
    %h1
      Want to get in touch?
      %span.glyphicon.glyphicon-hand-down
      %br
      = render 'form', contact: @contact
#footer
  = render 'layouts/footer'
