#home-container.container
  = render 'contacts/landing'
#about-container.container
  = render 'contacts/profile'
#experience-container.container
  = render 'contacts/experience'
#skills-container.container
  = render 'contacts/skills'
#form-container.container
  = render 'contacts/form'

//= render 'form', contact: @contact
//#footer
//= render 'layouts/footer'
