
<div id="home-container" class="container">
  <div id="middle">
    <div id="center_peice">
        <h1 id="title"><span id="name"> ATISH PATEL </span><hr> DEVELOPER </h1>
    </div>
    <!-- Hide buttons
    <div id="main_buttons">
      <button class="all_button" type="button" class="btn btn-default"> Resume </button>
      <button class="all_button" type="button" class="btn btn-default"> Contact </button>
    </div>
    -->
  </div>
</div>

<div id="about-container" class="container">
  <%= render 'contacts/profile' %>
</div>

<div id="experience-container" class="container">
  <%= render 'contacts/experience' %>
</div>

<div id="skills-container" class="container">
<%= render 'contacts/skills' %>
</div>

<div id="interests-container" class="container">
  <%= render 'contacts/interests' %>
</div>

<div id="form-container" class="container">
  <div id="form-content" class="content">
    <h1> You know what to do <span class="glyphicon glyphicon-hand-down"> </span> </h1>
    <%= render 'form', contact: @contact %>
  </div>
  <div id="footer">
    <%= render 'layouts/footer' %>
  </div>
</div>
