!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-112511588-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112511588-1');
    / end of Analytics stuff
    %title Atish Patel
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %script{:src => "https://code.jquery.com/jquery-1.12.4.js"}
    %script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat|Handlee|Inconsolata|Tangerine", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'profile', 'landing', 'experience', 'skills', 'parallax-nav', 'top-nav', 'form', 'custom', media: '(min-width: 990px)', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'mobile', media: 'screen and (min-device-width: 1px) and (max-device-width: 990px)', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'custom', 'data-turbolinks-track': 'reload'
  %body{"data-offset" => "300", "data-spy" => "scroll", "data-target" => "#parallax-nav"}
    #nav-container
      = render 'layouts/nav'
    #homepage
      = yield
